.course-title {
    text-align: center;
    font-size: 2rem;
    color: #4caf50;
    margin-bottom: 20px;
  }
  
  .course-description {
    text-align: center;
    font-size: 1.2rem;
    color: #333333;
    margin-bottom: 40px;
  }
  
  .course-details {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .course-focus, .career-paths {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .course-focus h3, .career-paths h3 {
    font-size: 1.5rem;
    color: #4caf50;
    margin-bottom: 15px;
  }
  
  .course-focus ul, .career-paths ul {
    list-style: none;
    padding: 0;
  }
  
  .course-focus li, .career-paths li {
    font-size: 1rem;
    color: #666666;
    margin-bottom: 10px;
  }
  
  .course-focus:hover, .career-paths:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .course-details {
      flex-direction: column;
    }
  }